extends: default

rules:
  # braces: disable
  #   # forbid: false  # Allow flow mappings
  #   # min-spaces-inside: 0
  #   # max-spaces-inside: 0
  #   # min-spaces-inside-empty: -1
  #   # max-spaces-inside-empty: -1
  indentation:
    level: warning
    indent-sequences: false
  comments-indentation: disable
  document-start:
    present: false
  # https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.quoted_strings
  # quoted-strings:
  #   required: only-when-needed    # Quotes are required only when needed (e.g., for strings with spaces or special characters)
  #   quote-type: any               # Allows both single ('') and double ("") quotes
  line-length:
    max: 500
  truthy:
    allowed-values:
    - >-
      false
    - >-
      true
    - >-
      on
